@charset "utf-8";

#topbar {
	height: 45px;
	background-color: #222;
}

#nav {
	height: 45px;
	text-align: right;

}
#nav_btn {
	font-size: 20px;
	line-height: 45px;
	vertical-align: middle;
	color: #888;
}

#page1 {
	min-height: 500px;
	background: #000 url('./imgs/primary.jpg') no-repeat center bottom ;
	background-size: 300px auto;
	color: #fff;
}

#page2 {
	min-height: 500px;
}

.head_picture_container {
	text-align: center;
	margin: 50px auto 10px auto;
}
.head_picture_container .picture{
	font-size: 35px;
	color: #f15386;
}
.subhead {
	text-align: center;
	color: #aaa;
}

























/* ================== pc ========================= */
.div1 {

	margin: 5px auto;
	text-align: center;
	padding: 15px 0;
}
.anchor_blue {
	color: #0367d8;
	text-decoration: none;
	font-size: 18px;
}
.anchor_blue:hover {
	color: #0367d8;
	text-decoration: underline;
}
.anchor_blue_btn {
	display: inline-block;
	padding: 12px 22px;
	background: #0570e9;
	box-shadow: 0 0 25px 5px rgba(0,0,0,.1) inset;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	font-size: 16px;
}
.anchor_blue_btn:hover {
	text-decoration: none;
	color: #fff;
	background: #0363d0;
}

#page2_md {
	padding: 80px 0;

}
.section_icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background: url('imgs/section_icon_bg_default.png') no-repeat;
	background-size: 100%;

}
.h1_md {
	font-size: 48px;
	text-align: center;
	margin: 15px 0;

	
}
.h3_md {
	font-size: 18px;
	margin: 10px auto;
	text-align: center;
	color: #444;

}
.big_md {
	font-size: 16px;
	text-align: center;

	line-height: 1.5em;
}









#topbar_pc {
	height: 80px;
	background-color: #24292e;
}
#page1_md {
	height: 500px;
	background-color: #24292e;
	background-image: url('imgs/page1_m_bg.svg');
	background-size: 100%;
}

#page2_md {
	min-height: 600px;
}






/* ======================================= */





























